body {
  padding: 0px;
  margin: 0px;
}

#root {
  width: 100%;
  min-height: 100vh;
  background-color: #555;
  font-family: 'Lato', sans-serif;
  padding: 0px;
  margin: 0px;
}

.material-icons{
  display: inline-flex;
  vertical-align: middle;
  line-height: 1;
}