body {
  padding: 0px;
  margin: 0px;
  background: url('./pattern.png');
  background-attachment: fixed;
}

#root {
  width: 100%;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  padding: 0px;
  margin: 0px;
}

.material-icons{
  display: inline-flex;
  vertical-align: middle;
  line-height: 1;
}