.news_container {
  margin: 0px auto;
  /* max-width: 1000px; */
  color: #fff;
  display: block;
  position: relative;
}

.logo {
  top: 10vh;
  width: 100%;
  font-size: x-large;
  position: absolute;
  text-align: center;
}

.news_container .banner__home {
  text-align: center;
  padding-top: 200px;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.news_content {
  font-size: large;
  text-align: justify;
  line-height: 1.6;
  /* max-width: 1000px; */
  margin: 0 auto;
  padding: 20px;
  background-color: #333;
}

.link {
  color: #aabbff;
  text-decoration: none;
}