.news_container {
  color: #fff;
}

.news_content {
  font-size: large;
  text-align: justify;
  line-height: 1.6;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333;
  margin-bottom: 20px;
}

.link {
  color: #aabbff;
  text-decoration: none;
}